* {
    margin : 0;
    padding : 0;
    font-family: sans-serif;
}
#container {
    position: absolute;
    top : 10%;
    left : 10%;
    right : 10%;
    bottom : 10%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
#container .content h2 {
    font-size: 18vw;
    color : #ffff;
    line-height: 1em;
}
#container .content h4 {
    position: relative;
    font-size: 1.5em;
    margin-bottom: 20px;
    color : #111;
    background : #ffff;
    font-weight: 300;
    padding: 10px 20px;
    display: inline-block;
}
#container .content p {
    color: #ffff;
    font-size: 1.2em;
}
#container .content a {
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    background: #ff0562;
    color: #ffff;
    text-decoration: none;
    margin-top: 25px;
    border: 25px;
}